<meta chartset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <ul>
        <li v-for="(cor, i) in cores">{{ i }}) {{ cor }} </li>
    </ul>
    <hr>
    <template v-for="(cor, i) in cores">
        <h1>{{ cor }}</h1>
        <p>{{ i }}</p>
    </template>
</div>

<script>
    new Vue({
        el:"#app",
        data:{
            cores:['vermelho','verde','azul','amarelo'],
            pessoas:[
                {nome: 'Isaac', idade:23, peso:82},
                {nome: 'Viviane', idade:26, peso:52},
            ]
        }
    })
</script>

<style>
    ul{
        list-style: none;
    }

    h1,p{
        display: inline;
    }
</style>