<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
<contador></contador>
</div>

<script>
    //Criação do componente, importante manter todo seu componente dentro da tag template
    Vue.component('contador',{
        template:`
        <div style="text-align:center">
        <h1>Contador Component</h1>
            <span>{{ contador }}
            <button @click="contador++">+</button>
            <button @click="contador--">-</button>
        </div>
        `,
        data(){
            return{
                contador: 0
            }
        }
    })

    new Vue({
        el:"#app"
    })
</script>